<activity android:name="com.unity3d.player.UnityPlayerActivity">
	<intent-filter>
		<action android:name="android.intent.action.VIEW" />
		<category android:name="android.intent.category.DEFAULT" />
		<category android:name="android.intent.category.BROWSABLE" />
		<data android:scheme="file" android:pathPattern=".*\\.bmod" android:mimeType="*/*" />
	</intent-filter>
</activity>
